<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Squelette</title>
		<script src="https://unpkg.com/vue@next"></script>
	</head>
	<body>
		<div id="app">
			<input type="radio" v-model="lang" value="HTML" />HTML
			<input type="radio" v-model="lang" value="CSS" />CSS
			<input type="radio" v-model="lang" value="JS" />JS

			<p>{{lang}}</p>
		</div>
		<script>
			const app = Vue.createApp({
				data() {
					return {
						lang: '',
					};
				},
			});
			app.mount('#app');
		</script>
	</body>
</html>
